# 1- Inverted Diamond

In [ ]:
columns = 5
for k in range(columns+1,1,-1):
    print(" "*((columns+2)-k), end="")
    for m in range(k,1,-1):
        print("*",end=" ")
    print("\r")
for i in range(1,columns+1):
    print(" "*((columns+1)-i), end="")
    for j in range(1,i+1):
        print("*", end=" ")
    print("\r")

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

# 2- Diamond Pattern

In [ ]:
columns = 5
for i in range(1,columns+1):
    print(" "*((columns+1)-i), end="")
    for j in range(1,i+1):
        print('*', end= " ")
    print("\r")

for k in range(columns,1,-1):
    print(" "*((columns+2)-k),end="")
    for m in range(k,1,-1):
        print('*', end=" ")
    print("\r")

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

# 3- ARROW PATTERN

In [ ]:
columns = 5
for i in range(1,columns+1):
    print('* '*i)

for j in range(columns-1,0,-1):
    print('* '*j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 4- PYRAMID PATTRN

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****

# 5- INVERTED PYRAMID PATTERN

In [ ]:
height = 5
for i in range(height,0,-1):
    print('*' * i)

*****
****
***
**
*

# 6- MIRROR PYRAMID PATTERAN

In [ ]:
height = 5
for i in range(1,height+1):
    print(" "*(height-i) + "*"*i)

    *
   **
  ***
 ****
*****

# 7- TRIANGLE PATTERN

In [ ]:
for i in range(1,6):
    print(" "*(6-i), end="")
    for j in range(1,i+1):
        print('*', end=" ")
    print("\r")

     *
    * *
   * * *
  * * * *
 * * * * *